

<h1>REGISTRO</h1>

<div class="body-content">
    <div class="module">
        <h2>Registro de Usuario</h2>
        <form class="form" (submit)="submitForm()">
            
            <input  type="text"
                    id="nombre"
                    placeholder="Nombre" 
                    name="nombre"
                    minlength="3"
                    maxlength="10"
                    required 
                    [(ngModel)]="formState.nombre"
                    #nombre="ngModel">
            <input  type="text" 
                    placeholder="Apellido" 
                    name="apellido"
                    id="apellido"
                    minlength="2"
                    maxlength="15"
                    required
                    [(ngModel)]="formState.apellido"
                    #apellido="ngModel">
            <input  type="email"
                    id="email"
                    placeholder="Email" 
                    name="email"
                    minlength="4"
                    maxlength="25"
                    required
                    [(ngModel)]="formState.email"
                    #email="ngModel">
            <input  type="text"
                    id="telefono"
                    placeholder="Teléfono" 
                    name="telefono"
                    [(ngModel)]="formState.telefono"
                    #telefono="ngModel">
            <input  type="password"
                    id="password"
                    minlength="6"
                    maxlength="10"
                    placeholder="Contraseña" 
                    name="password" 
                    required
                    [(ngModel)]="formState.password"
                    #password="ngModel">
            <input  type="password"
                    id="confirmpassword"
                    placeholder="Confirme Contraseña" 
                    name="confirmPassword"
                    minlength="6"
                    maxlength="10"
                    required
                    [(ngModel)]="formState.confirmPassword"
                    #confirmPassword = "ngModel">
            
            <button type="submit" class="btn btn-block btn-primary">Enviar</button>
        </form>
    </div>
</div>